.fieldsetHead{
    border-color: black;
    background-color: grey;
    height: 50px;
}

.ImageLogo{
    height: 50px;
    width: 50px;
}

.imageProfil{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.imageParametre{
    height: 50px;
    width: 50px;
    margin-left: 1%;
    border-radius: 100%;
}

.table{
    border-right: solid black 1px;
    border: solid 1px;
    border-color: black;
    width: 150px;
    padding: 0px;
}


table{
    border-spacing: 0px;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 30%;
    height: 400px;
    width: 800px;
}


td{
    border: black solid 1px;
    padding: 0px;
    text-align: center;
}

.ColonneUne{
    border-top: white;
    border-left: white;
    border-bottom: white;
    width: 100px;
    height: 100px;
}

.boutonCreation{
    color: white;
    background-color: rgb(23, 55, 94);
    height: 50px;
    width: 100px;
    border-radius: 12px;
    margin-left: 90%;
}

.boutonCreation:hover{
    background-color: rgb(23, 65, 97);;
}

.BoutonParametre{
    margin-left: 1%;
    border-radius: 100%;
}

.BoutonProfil{
    margin-left: 85%;
    border-radius: 100%;
    border-color: grey;
}