.fieldsetHead{
    border-color: black;
    background-color: grey;
    height: 50px;
    margin-bottom: 100px;
}

.ImageLogo{
    height: 50px;
    width: 50px;
}

.imageProfil{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 88%;
}

.imageParametre{
    height: 50px;
    width: 50px;
    margin-left: 1%;
    border-radius: 100%;
}

.Date{
    margin-bottom: 20px;
    margin-left: 80px;
}

.fieldsetPrincipal{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: auto;
    width: 1200px;
    height: 400px;
}


.fieldsetSecondaire{
    margin-top: 30px;
    width: 400px;
    margin-bottom: 30px;
}

.NomReservation{
    margin-bottom: 10px;
}

