/* -------------------------------------- Page de Connexion ---------------------------------------------------*/

/* Changement de place et de couleur des fieldset */
.fieldset{
    width: 300px;
    height: 500px;
    border-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 12%;
}

/* Placement et redimension de l'image dans le fieldset */
.imageLogo{
    margin-left: 230px;
    margin-right: 100px;
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Placement et redimension des champs d'utilisateur et de mot de passe dans le fieldset*/
.bouton{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    text-align: center;
}
/* Placement et redimension du bouton de connexion*/
.boutonConnexion{
    background-color: rgb(23, 57, 94);
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 20px;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
}
/* La couleur du bouton de connexion change de couleur quands on passe la souris dessus */ 
.boutonConnexion:hover {
    background-color: rgb(23, 65, 97);
}
/* Couleur du fond */ 
.body{
    background-color: rgb(23, 57, 94);
}

/*---------------------------------------- Page Calendrier --------------------------------------------------*/

.fieldsetHead_Calendrier{
    border-color: black;
    background-color: grey;
    height: 50px;
}

.ImageLogo_Calendrier{
    height: 50px;
    width: 50px;
}

.imageProfil_Calendrier{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.imageParametre_Calendrier{
    height: 50px;
    width: 50px;
    margin-left: 1%;
    border-radius: 100%;
}

.table_Calendrier{
    border-right: solid black 1px;
    border: solid 1px;
    border-color: black;
    width: 150px;
    padding: 0px;
}


table{
    border-spacing: 0px;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 30%;
    height: 400px;
    width: 800px;
}


td{
    border: black solid 1px;
    padding: 0px;
    text-align: center;
}

.ColonneUne_Calendrier{
    border-top: white;
    border-left: white;
    border-bottom: white;
    width: 100px;
    height: 100px;
}

.boutonCreation_Calendrier{
    color: white;
    background-color: rgb(23, 55, 94);
    height: 50px;
    width: 100px;
    border-radius: 12px;
    margin-left: 90%;
}

.boutonCreation_Calendrier:hover{
    background-color: rgb(23, 65, 97);;
}

.BoutonParametre_Calendrier{
    margin-left: 1%;
    border-radius: 100%;
}

.BoutonProfil_Calendrier{
    margin-left: 85%;
    border-radius: 100%;
    border-color: grey;
}

.Semaine_Calendrier{
    margin-left: 30%;
    margin-bottom: 10px;
    margin-top: 70px;
}

.Deconnexion_Calendrier{
    margin-left: 85%;
    font-size: 20px;
}
/*---------------------------------------------- Page Création ------------------------------------------------*/

.fieldsetHead_Creation{
    border-color: black;
    background-color: grey;
    height: 50px;
    margin-bottom: 50px;
}

.ImageLogo_Creation{
    height: 50px;
    width: 50px;
}

.imageProfil_Creation{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.imageParametre_Creation{
    height: 50px;
    width: 50px;
    margin-left: 1%;
    border-radius: 100%;
}

.BoutonParametre_Creation{
    margin-left: 1%;
    border-radius: 100%;
}

.BoutonProfil_Creation{
    margin-left: 85%;
    border-radius: 100%;
    border-color: grey;
}

.Date_Creation{
    margin-top: 500px;
    font-size: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.Choix_Creation{
    height: 40px;
    width: 250px;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
}

.Colonne_Creation{
    column-count: 2;
}

.FieldsetFormation_Creation{
    margin-top: 50px;
    height: 200px;
    width: 450px;
}

.Question_Creation{
    font-size: 20px;
}

.test_Creation{
    margin-top: auto;
    margin-bottom: auto;
}